@font-face {
    font-family: myAmagro;
    src: url(../fonts/Amagro.ttf);
  }
  
 
body{

    background-color: brown;
    
    font-family: 'Montserrat';
    
}

#start{
    font-family: myAmagro;
    font-size: 2rem;
    

}


#lastSection{
    background-color: aqua;
    
}
#lastSection >.row>img {
    height:25vh;
    
}

footer{
    background-color: black;
    font-family: myAmagro; 
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 4rem;
    color: white;
    font-weight: 700;
    text-shadow: 4px 4px 5px white;
    

}

footer a:hover {
    text-decoration: underline;
    font-weight: 900;
    

}


#verticalAlign > .row {
    height: 60vh;
    background-color: pink;
}

#verticalAlign  .col {
    height: 30vh;
    background-image: url(../images/arena.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;

}
#verticalAlign  .col:hover {
    /* transform:scale(2, 2); */
    /* transform:skewX(-10deg);  */
    background-size: cover;
    
}
#aliGSection{
    width: 90vw;
    margin: 2rem auto;
    background-color: black;
    color: white;
    padding: 5rem 5rem;
    text-align: justify;
    line-height: 2rem;
    font-weight: 600;
}